/* services.css */
.main-servicesss {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding:  1rem 0;
  background-color: white;
  width: 100vw;

}

.services-title{
  border-bottom: 0.4rem solid #305CDE;
  border-radius: 0.41rem;
  width: fit-content;
}
.main-services-dark {
  background-color: black;
  overflow: visible;
  color: white;
}
.contact-section-11{
  width: 100vw;
}
.yolooo,
.yolooo-dark {
  height: 30rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
   box-shadow: 0px 0px 40px 10px rgba(48, 92, 222, 0.6); 
  transition: all 0.3s ease-in-out;
}

.yolooo {
  background-color: white;
  color: black;
}

.yolooo-dark {
  background-color: #111;
  color: white;
}
.services{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 ;
}
/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .yolooo,
  .yolooo-dark {
    height: 28rem;
  }
}

@media (max-width: 992px) {
  .yolooo,
  .yolooo-dark {
    height: 33rem;
    width: fit-content;
  }
}

@media (max-width: 768px) {
  .yolooo,
  .yolooo-dark {
    height: 30rem;
    padding: 1.5rem;
    width: fit-content;
  }
  .services{
    margin: 0;
  }
}

@media (max-width: 576px) {
  .yolooo,
  .yolooo-dark {
    height: auto;
    padding: .9rem;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .yolooo,
  .yolooo-dark {
    padding: 0.8rem;
    margin: 0;
    width: 100%;
  }
}
