*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  /* overflow-x: hidden; */
}

.app-div{
  background-color: white;
  width: 100%;
  margin: 0;
  padding:0;
}
.app-div-dark{
  background-color: black;
  width: 100%;
  margin: 0;
  padding:0;
}
.app{
  background-color: white;
}
.app-dark {
  background-color: black;
  overflow-y: visible;
  color: white;
}